@using EventEase.Models
@using EventEase.Services;
@inject NavigationManager NavigationManager
@inject SessionState SessionState

@if (Event != null)
{
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">@Event.Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Event.Date.ToString("MMMM dd, yyyy")</h6>
            <p class="card-subtitle">@Event.Location</p>
            <p class="card-text">@Event.Description</p>
            <button class="btn btn-primary" @onclick="NavigateToRegister">Register / view Attendees</button>
        </div>
    </div>
}
else
{
    <p class="text-danger">Event details are not available.</p>
}

@code {
    [Parameter]
    public Event? Event { get; set; }

    private void NavigateToRegister()
    {
        if (Event != null)
        {
            SessionState.SelectedEvent = Event; // Set the selected event in session state
            NavigationManager.NavigateTo($"/register/{Event.Id}");
        }
    }
}