@page "/events"
@using EventEase.Data
@using EventEase.Models

<h3 class="text-center my-4">Upcoming Events</h3>

<div class="container">
    <div class="row">
        @foreach (var eventItem in EventSeeder.getEvents())
        {
            <div class="col-md-4 mb-4">
                <EventCard Event="eventItem" />
            </div>
        }
    </div>
</div>